{{ define "defaultLayout" }}
<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/index.css" rel="stylesheet" />
  <title>{{ .Data.Title }}</title>
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  <script src="https://js.stripe.com/v3/"></script>
</head>


<body>
  {{ template "navbar" . }}
  <main id="mainElement">
    {{ block "content" . }}{{ end }}
  </main>
  {{ template "footer" . }}
</body>

<script>
  // this script will wait for HTML updates, and local-store a handler route. If the user reloads, we use this handler, or send them to home.
  function updateReloadHandler(element) {
    const reloadHandler = element.getAttribute('data-reload-handler');
    if (reloadHandler) {
      sessionStorage.setItem('reloadHandler', reloadHandler);
    }
  }

  document.addEventListener('DOMContentLoaded', (event) => {
    const mainElement = document.getElementById('mainElement');
    updateReloadHandler(mainElement);
  });

  // Add event listener for page reload
  window.addEventListener('load', (event) => {
    const reloadHandler = sessionStorage.getItem('reloadHandler');
    if (reloadHandler && reloadHandler !== '/') {
      htmx.ajax('GET', reloadHandler, {target: '#mainElement', swap: 'innerHTML'});
    }
  });

  // Listen for HTMX after-swap event
  document.body.addEventListener('htmx:afterSwap', (event) => {
    if (event.detail.target.id === 'mainElement') {
      updateReloadHandler(event.detail.target);
    }
  });
</script>

</html>
{{ end }}
