{{ define "defaultLayout" }}
<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/index.css" rel="stylesheet" />
  <title>{{ .Data.Title }}</title>
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  <script src="https://js.stripe.com/v3/"></script>
</head>


<body>
  {{ if eq .Data.AuthStatus "registered" }}
  {{ template "registeredNavbar" . }}
  {{ else if eq .Data.AuthStatus "member" }}
  {{ template "memberNavbar" . }}
  {{ else }}
  {{ template "guestNavbar" . }}
  {{ end }}
  <main id="mainElement" class="px-4 py-6 bg-zinc-950 text-white">
    {{ block "content" . }}{{ end }}
  </main>
  {{ template "footer" . }}
</body>

</html>
{{ end }}
