{{ define "connections" }}
<div class="flex flex-col">
	<h1>Connections</h1>

	<!-- send req form, type in email -->
	<section class="flex flex-col">
		<form hx-post="/createConnectionRequest">
			<h3 class="mb-4">Send Connection Request:</h3>
			<label class="mb-2">Email</label><br>
			<input class="mb-8 text-black" type="text" name="email">
			<label>I am the... ( manager or worker )</label>
			<input class="mb-8 text-black" type="text" name="senderRole">
			<button type="submit">Send</button>
		</form>
	</section>

	<!-- active connection, or status of no connection -->
	<section class="flex flex-col hidden">
		<h3 class="mb-8">Current Connection:</h3>
		<div>
			<h4>{{ .Data.ActiveConnection.Username }}</h4>
			<h4>Your: {{ .Data.ActiveConnection.Role }}</h4>
		</div>
	</section>

	<!-- show list of connections -->
	<section class="flex flex-col">
		<h3>My Connections:</h3>
		<ul class="mb-4">
			{{ range .Data.Connections }}
			<li
				class="p-4 mb-8 border rounded border-emerald-400 bg-gray-900 flex flex-row justify-between">
				<!-- selecting user makes this the active relationship/connection. UI change to that relationship dynamic -->
				<h4>{{ .Username }}</h4>
				<h4>Your {{ .Role }}</h4>
				<button
					hx-put="updateActiveConnection\{{ .ConnectionId }}\{{ .Username }}\{{ .Role }}">Select</button>
			</li>
			{{ end }}
		</ul>
	</section>

	<!-- if requests exist, they should list here. optionally delete or accept them as 2 buttons -->
	<section class="flex flex-col">
		<h3 class="mb-8">Connection Requests:</h3>

		{{ range $row, $role := .Data.PendingConnectionRequests }}
		<li class="flex justify-between pending-request">
			<h4>{{ $row.Email }}</h4>
			<p>Wants to be your: {{ $role }}
				<button
					hx-post="/createConnection\{{ $row.SenderID }}\{{ $row.RecieverID }}">Accept</button>
				<button hx-delete="/deleteConnectionRequest\{{ $row.SenderID }}\{{ $row.RecieverID }}"
					hx-target="pending-request">Reject</button>
		</li>
		{{ end }}
	</section>
</div>
{{ end }}

{{ define "activeConnection" }}

<div>
	<h4>{{ .Data.ActiveConnectionUsername }}</h4>
	<h4>Your {{ .Data.ActiveConnectionRole }}</h4>
</div>
{{ end }}
