{{ define "guest" }}

<!-- main hero & call to action -->
<section class="flex flex-col w-3/4 mx-auto my-4 p-4 gap-4 rounded">
	<h1 class="text-center">The Pact</h1>
	<p>Empower your dynamic with structured task management for manager/worker relationships. Create, track, and
		complete
		tasks with customizablerewards and cons, bringing clarity and order to your unique connection(bond?)</p>
	<div class="flex justify-center gap-16">
		<button class="btn rounded text-emerald-600 bg-black p-2 duration-300 hover:border-emerald-400 hover:bg-black"
			hx-get="/registerForm" hx-target="#mainElement" hx-swap="innerHTML">Create
			Account</button>
		<button class="btn rounded text-emerald-600 bg-black p-2 duration-300 hover:border-emerald-400 hover:bg-black"
			hx-get="/stripeForm" hx-target="#mainElement" hx-swap="innerHTML" hx-push-url="stripePage"
			href="#">
			Become a Member
		</button>
	</div>
</section>

<!-- dashboard for managers -->
<!-- left is a paragraph describing manager management of buckets: right is a vid of it -->
<section class="my-4 p-2 card border border-emerald-400">
	<h2>Managers</h2>
	<p>Create a task, set the requirements (1000k words, image, video), and review submitted task completions.</p>
	<!-- video goes here -->
</section>

<!-- dashboard for workers -->
<section class="my-4 p-2 card border border-emerald-400">
	<!-- video goes here -->
	<h2>Workers</h2>
	<p>Easily see tasks, mark completed for manager review.</p>
</section>

<!-- section on data privacy -->
<section class="my-4 p-2 card border border-emerald-400">
	<h2>Your Information Must Remain Secure</h2>
	<p>For many reasons, your privacy is of utmost importance. The use of Stripe, as well as our encryption
		methodology and secure storage of your tasks & submissions all serve to protect your privacy, and online
		anonymity.
	</p>
</section>

{{ end }}
