{{ define "home" }}
<!-- main hero -->

<section>
	<h1>The Pact</h1>
	<p>Empower your dynamic with structured task management for manager/worker relationships. Create, track, and complete
		tasks with customizablerewards and cons, bringing clarity and order to your unique connection(bond?)</p>
	<button>Create Account</button>
</section>

<!-- left is a paragraph describing manager management of buckets: right is a vid of it -->
<section>
	<h2>Managers</h2>
	<p>Create a task, set the requirements (1000k words, image, video), and review submitted task completions.</p>
	<!-- video goes here -->
</section>

<section>
	<!-- video goes here -->
	<h2>Workers</h2>
	<p>Easily see tasks, mark completed for manager review.</p>
</section>

<!-- section on data privacy -->

{{ end }}
