{{ define "loginForm" }}
<section id="form-container" class="flex">
	<h2>Login</h2>
	<form hx-post="/login">
		<label for="email">Email</label>
		<input type="text" id="email" name="email" required placeholder="Enter your email">

		<label for="password">Password</label>
		<input type="password" id="password" name="password" required placeholder="Enter your password"
			autocomplete="off">

		<button type="submit">Login</button>
	</form>
	<a hx-get="/registerForm" hx-target="#form-container" hx-swap="innerHTML" href="#">Not a user? Register
		Here...</a>
</section>
<script>
	// when htmx request is returned, this function fires, and this function's job is to add the jwt to the local storage
	document.body.addEventListener('htmx:afterRequest', function (event) {
		if (event.detail.successful && event.detail.xhr.responseURL.endsWith('/signin')) {
			const response = JSON.parse(event.detail.xhr.responseText);
			if (response.token) {
				localStorage.setItem('jwt', response.token);
				console.log('JWT stored in localStorage');
				// Dispatch an event to notify that JWT is ready
				document.body.dispatchEvent(new CustomEvent('jwtReady'));
			} else {
				console.log("token not found in response, thus, could not be set.")
			}
		} else {
			console.log("htmx event was not successful, not going to look for token")
		}
	});
</script>
{{ end }}
