{{ define "memberNavbar" }}

<nav class="navbar flex justify-between bg-gray-900 text-emerald-600">
	<h2>Pact - Member</h2>
	<div class="justify-end gap-4 ">
		<a class="btn btn-ghost hover:bg-black rounded duration-300 hover:border-emerald-400"
			hx-get="/homeContent" hx-target="#mainElement" hx-swap="innerHTML" href="#">
			Home
		</a>

		<a class="btn btn-ghost hover:bg-black rounded duration-300 hover:border-emerald-400" hx-get="/"
			accountContent hx-target="#mainElement" hx-swap="innerHTML" href="#">Account</a>
	</div>
</nav>

{{ end }}
