{{ define "registeredNavbar" }}

<nav class="navbar flex justify-between bg-gray-900 text-emerald-600">
	<h2>Pact - Registered</h2>
	<div class="justify-end gap-4 ">
		<a class="btn btn-ghost hover:bg-black rounded duration-300 hover:border-emerald-400"
			href="/home" hx-get="/home" hx-target="#mainElement" hx-swap="innerHTML" hx-push-url="true">
			Buckets
		</a>
		<a class="btn btn-ghost hover:bg-black rounded duration-300 hover:border-emerald-400"
			href="/stripe" hx-get="/stripe" hx-target="#mainElement" hx-swap="innerHTML" hx-push-url="true">
			Membership
		</a>
		<a class="btn btn-ghost hover:bg-black rounded duration-300 hover:border-emerald-400"
			href="/account" hx-get="/account" hx-target="#mainElement" hx-swap="innerHTML" hx-push-url="true">
			Account
		</a>
		<a class="btn btn-ghost hover:bg-black rounded duration-300 hover:border-emerald-400" href="/logout">
			Logout
		</a>
	</div>
</nav>

{{ end }}
