{{ define "registerForm" }}
<section id="form-container">
	<h1>register</h1>
	<div id="registration-form">
		<form class="flex flex-col p-2 gap-8 bg-gray-500 text-black" hx-post="/register"
			hx-target="#registration-form" hx-swap="outerhtml">
			<label for="email">email:</label>
			<input type="text" id="email" name="email" required>
			<label for="username">username:</label>
			<input type="text" id="username" name="username" required>
			<label for="role">manager or worker:</label>
			<input type="text" id="role" name="role" required>
			<label for="password">password:</label>
			<input type="password" id="password" name="password" required>
			<button type="submit">register</button>
		</form>
		<a hx-get="/loginForm" hx-target="#form-container" hx-swap="innerhtml" href="#">already have an account?
			login
			here...</a>
	</div>
</section>

<script>
	// when htmx request is returned, this function fires, and this function's job is to add the jwt to the local storage
	document.body.addEventListener('htmx:afterRequest', function (event) {
		if (event.detail.successful && event.detail.xhr.responseURL.endsWith('/signin')) {
			const response = JSON.parse(event.detail.xhr.responseText);
			if (response.token) {
				localStorage.setItem('jwt', response.token);
				console.log('JWT stored in localStorage');
				// Dispatch an event to notify that JWT is ready
				document.body.dispatchEvent(new CustomEvent('jwtReady'));
			} else {
				console.log("token not found in response, thus, could not be set.")
			}
		} else {
			console.log("htmx event was not successful, not going to look for token")
		}
	});
</script>
{{ end }}
