{{ define "registeredNavbar" }}

<nav class="navbar flex justify-between bg-gray-900 text-emerald-600">
	<h2>Pact - Registered</h2>
	<div class="justify-end gap-4 ">
		<a class="btn btn-ghost hover:bg-black rounded duration-300 hover:border-emerald-400"
			hx-get="/descriptionContent" hx-target="#mainElement" hx-swap="innerHTML"
			href="#">Description</a>
		<a class="btn btn-ghost hover:bg-black rounded duration-300 hover:border-emerald-400"
			hx-get="/stripeForm" hx-target="#mainElement" hx-swap="innerHTML" href="#">Membership</a>
		<a class="btn btn-ghost hover:bg-black rounded duration-300 hover:border-emerald-400"
			hx-get="/accountContent" hx-target="#mainElement" hx-swap="innerHTML" href="#"><img
				src="generic acct img goes here" alt="" title="My Account" /></a>
		<a class="btn btn-ghost hover:bg-black rounded duration-300 hover:border-emerald-400"
			href="/logout">Logout</a>
	</div>
</nav>

{{ end }}
