{{ define "content" }}
<section id="form-container" class="flex">
    <h2>Login</h2>
    <form hx-post="/login">
        <label for="username">Username or Email</label>
        <input type="text" id="username" name="username" required placeholder="Enter your username/email">

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required placeholder="Enter your password"
            autocomplete="off">

        <button type="submit">Login</button>
    </form>
    <a hx-get="/registeruser" hx-target="#form-container" hx-swap="innerHTML" href="#">Not a user? Register Here...</a>
</section>
{{ end }}

{{ template "layout" . }}
